body {
    background-color: lightblue;
}

/*making div background same color as body so rounded corners will blend*/
.mainDiv {
    background-color: lightblue;
}

.formRow {
    display: flex;
}

/* the next few styles are for the rounded courners on the form*/
.formRow:first-of-type .formSection:first-of-type {
    border-top-left-radius: 10px;
}

.formRow:first-of-type .formSection:last-of-type {
    border-top-right-radius: 10px;
}

.formRow:last-of-type .buttonSection {
    border-bottom-left-radius: 10px;
}

.formRow:last-of-type .buttonSection {
    border-bottom-right-radius: 10px;
}

/*set the width of the rows by percentages based on number of divs in each row*/
.sections2 {
    width: 50%;
}

.sections3 {
    width: 33.33%;
}

.sections4 {
    width: 25%;
}

.buttonSection {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    border: 2px solid lightgray;
}


/* this controls the formatting of each 'cell' on the form */

.formSection {
    display: flex;
    justify-content: flex-start;
    border-color: lightgray;
    border-style: solid;
    /* there is no border on the right or the bottom so the borders don't double up between cells */
    border-width: 2px 0px 0px 2px;
    flex-direction: column;
    margin: 0;
    padding: 5px;
    background-color: white;
    overflow: hidden;
}


/* put the right border on the last cell in each row*/
.formRow .formSection:last-of-type {
    border-right: 2px solid lightgray;
}

.title {
    font-family: sans-serif;
    font-size: 12px;
    padding: 10px;
}

input,
textarea {
    font: 12px sans-serif;
    border: none;
    padding: 5px;
    margin: 0;
    width: 260px;
    background: none;
}

input[type=submit] {
    height: 30px;
    width: 300px;
    background-color: seagreen;
    color: white;
    border-radius: 5px;
    letter-spacing: 1px;
    cursor: pointer;
}
